@model CrankFrog.Models.AppModel

<div class="cf-thead row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <strong>Name</strong>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <strong>Address</strong>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <strong>Date Added</strong>
    </div>
</div>

@foreach (var item in Model.People)
{
    <div class="cf-tbody row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State)
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            @item.DateOfEntry.ToShortDateString()
        </div>
    </div>
}